*{
	padding: 0px;
	margin:0px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#091212;
}

#app{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.container{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;  /**清楚margin-top**/
}

header{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #58B000;
	justify-content: center;

	.nav-back,.nav-title{
		font-size: 1.6rem;
		line-height: 50px;
		text-align: center;
		font-weight: bold;
		color: #fff; 
	}

	.nav-back{
		position: absolute;
		top: 0px;
		left: 0px;
		margin-left:15px;
	}

	.nav-title{
		display: block;
	}
}

.data-load{

	.load-msg{
		font-size: 24px;
		color: orange;
		line-height: 30px;
		text-align: center;
	}
}

.data-null{
	height: 50px;
	font-size: 36px;
	color: red;
	line-height: 50px;
	text-align: center;
}

.tip-msg-signin{
	font-size: 20px;
	color: #458A8A;
	text-align: center;

	a{
		color: #239E40;
		font-weight: bold;
		font-size: 28px;
	}
}

.user-head{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: pink;
	border-radius: 50%;
	color: red;
	line-height: 60px;
	text-align: center;
}

.footer{
	flex: 1;
	position: relative;
	width: 100%;
	margin:0 auto;
	box-sizing: border-box;
}


.footer-menu{
	display: flex;
	justify-content: center;
	height: 100%;

	li{
		flex:1;
		
		height: 100%;
		position: relative;
		background-color: #58B000;

		a{	
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%,-50%);
			font-size: 1.6rem;
			text-align: center;
			color: white;
		}

		.fonticon-cnode{
			font-size: 0.8rem;
		}
	}
}

/**indexlist 网站首页**/
.index{
	position: absolute;
	display: flex;
	flex-direction: column;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.topic-menu{
	flex:1;
	position: relative;
	display: flex;
	justify-content: center;

	li{
		flex:1;
		position: relative;
		flex-direction: column;
		background-color: #58B000;

		a{	
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%,-50%);
			font-size: 1.6rem;
			text-align: center;
			color: white;
		}
	}
}

.react-iscroll{
	display: flex;
	flex:8;
	width: 100%;

	.iscroll{
		flex:1;
	}
}

.index-list{
	background-color: #fff;
	padding: 5px;

	.index-item{
		display: flex;
		clear: both;
		border-bottom: 2px solid #58B000;

		.index-item-left{
			flex:2;
			float: left;

			.index-item-author-head{
				display: block;
				margin:0 auto;
				padding: 10px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}

			.index-item-loginname{
				display: block;
				text-align: center;
				margin-bottom: 15px;
				font-size: 0.5rem;
				font-weight: bold;
				color:#19541b
			}
		}

		.index-item-right{
			flex:8;
			position: relative;
			margin: 5px;
			font-size: 0.6rem;
			float: left;
			color: #04230a;

			.index-item-title{
				display: block;
				margin-top: 10px;
				font-size: 1.2rem;
				font-weight: bold;
				color: #2b352d;
			}

			.index-item-time{
				display: block;
				margin:5px;
				text-align: right;
			}

			.index-item-count{
				display: block;
				margin:5px;
				text-align: right;
			}
		}
	}
}

/**文章详情页面**/
.topic-detail-page{
	position: absolute;
	flex-direction: column;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.topic-detail{
}

.topic-header{
	margin:5px;
	background-color: #fff;
	overflow: hidden;

	.topic-header-title{
		font-size: 1.2rem;
	}

	.topic-header-list{
		font-size: 0.6rem;

		li{
			float:left;
			margin-right: 10px;
		}
	}

	.topic-collect{
		cursor: pointer;
		float:left;
		margin-left: 20px;
		font-size: 1.4rem;
		font-weight:blod;
	}

	.topic-is-collect{
		color: red;
	}

	.topic-not-collect{
		color: green;
	}
}

.topic-content{
	margin-top: 10px;
	padding: 5px;
	background-color: #fff;
}

.reply{
	margin-top: 15px;
	background-color:#fff;
	
	.reply-title{
		padding: 10px;
		font-size: 1.2rem;
		border-bottom: 1px solid green;
	}

	.reply-item{
		padding: 5px 10px;
		border-bottom: 1px solid green;
		font-size: 0.8rem;
	}

	.reply-top{
		overflow: hidden;

		.reply-author-head{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			float: left;
		}

		.reply-author-loginname{
			margin: 10px;
			float: left;
		}
	}

	.reply-content{
		padding: 5px;
	}

	.reply-bottom{
		display: block;


		.reply-up{
			font-size: 1.2rem;
		}

		.reply-area-control{
			font-size: 1.2rem;
		}
	}
}

/**文章新建页面**/
.topic-new-page{
	background-color: #fff;
	overflow: hidden;

	.topic-new-h2{
		color: red;
		padding: 30px;
		border: 1px solid green;
	}

	.topic-new{
		font-size: 24px;
		padding: 30px;

		*{
			width: 450px;
			height: 40px;
			margin:20px;
			vertical-align: middle;
			font-size: 18px;
		}

		.topic-new-content{
			height: 160px;
		}

		.topic-new-button{
			width: 120px;
			height: 45px;
			border-radius: 20%;
			background-color:#31e236;
			color: #fff;
			font-size: 20px;
		}
	}
}

/**用户信息页面**/
.user-msg{
	background-color: #fff;
	overflow: hidden;

	.user-msg-title{
		color: red;
		padding: 20px 0 10px 30px;
		border-bottom: 1px solid green;
	}

	.user-msg-head{
		width: 150px;
		height: 150px;
		float: left;
		margin:20px 0 30px 50px;
		border-radius: 50%;
	}

	.user-msg-loginname{
		padding: 20px;
		float: left;
	}

	.user-msg-score{
		padding: 20px;
		float: left;
	}
}

.user-topics{
	background-color: #fff;
	overflow: hidden;

	.user-topics-title{
		color: red;
		padding: 20px 0 10px 30px;
		border-bottom: 1px solid green;
	}

	.user-topics-item{
		margin:10px;
	}
}

.user-replies{
	background-color: #fff;
	overflow: hidden;

	.user-replies-title{
		color: red;
		padding: 20px 0 10px 30px;
		border-bottom: 1px solid green;
	}

	.user-replies-item{
		margin:10px;
	}
}

.user-collections{
	background-color: #fff;
	overflow: hidden;

	.user-collections-title{
		color: red;
		padding: 20px 0 10px 30px;
		border-bottom: 1px solid green;
	}

	.user-collections-item{
		margin:10px;
	}
}

/**用户消息页面**/
.messages{
	background-color: #fff;
	overflow: hidden;

	.msg-not-read-title,.msg-read-title{
		color: red;
		padding: 20px 0 10px 30px;
		border-bottom: 1px solid green;
	}

	.msg-not-read-item,.msg-read-item{
		margin:10px;
	}
}

/**登录页面**/
.form-signIn{
	width: 400px;
	margin:0 auto;
	margin-top: 150px;
	border-radius: 5%;
	background-color: #fff;
	overflow: hidden;

	.signIn-title{
		padding: 5px;
		font-size: 32px;
		text-align: center;
		color: #239E40;
	}

	.signIn-input{
		margin:10px 0 20px 70px;
		width: 200px;
		height: 45px;
		border-radius: 10%;
	}

	.signIn-btn{
		width: 60px;
		height: 45px;
		border-radius: 10%;
		background-color: #239E40;
		color: #fff;
		font-size: 18px;
	}
}

.tip-msg-signIn{
	padding: 5px;
	font-size: 20px;
	color: #458A8A;
	text-align: center;

	.tip-msg-span{
		color: #239E40;
		font-weight: bold;
		font-size: 28px;
	}
}