*{
	padding: 0px;
	margin:0px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#091212;
}

#app{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.container{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;  /**清楚margin-top**/
}

header{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #58B000;
	justify-content: center;

	.nav-back,.nav-title{
		font-size: 1.6rem;
		line-height: 50px;
		text-align: center;
		font-weight: bold;
		color: #fff; 
	}

	.nav-back{
		position: absolute;
		top: 0px;
		left: 0px;
		margin-left:15px;
		cursor: pointer;
	}

	.nav-title{
		display: block;
	}
}

.data-load{
	width: 150px;
	height: 50px;
	margin:0 auto;

	.point{
		float: left;
		width: 30px;
		height: 30px;
		margin:10px;
		border-radius: 50%;
	}

	.point-red{
		background-color: #f96394;
		animation: dataLoad 1s ease 0s infinite;
	}

	.point-green{
		background-color: #48e348;
		animation: dataLoad 1s ease 0.1s infinite;
	}

	.point-blue{
		background-color:#5798cf;
		animation: dataLoad 1s ease 0.2s infinite;
	}
}

@keyframes dataLoad{
	0% {transform:scale(1);}
	25% {transform:scale(1.5);}
	50% {transform:scale(1);}
	75% {transform:scale(1);}
	100% {transform:scale(1);}
}

.data-null{
	height: 50px;
	font-size: 36px;
	color: red;
	line-height: 50px;
	text-align: center;
}

.tip-msg-signin{
	font-size: 20px;
	color: #458A8A;
	text-align: center;

	a{
		color: #239E40;
		font-weight: bold;
		font-size: 28px;
	}
}

.user-head{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: pink;
	border-radius: 50%;
	color: red;
	line-height: 60px;
	text-align: center;
}

.footer{
	flex: 1;
	position: relative;
	width: 100%;
	margin:0 auto;
	box-sizing: border-box;
}


.footer-menu{
	display: flex;
	justify-content: center;
	height: 100%;

	li{
		flex:1;
		
		height: 100%;
		position: relative;
		background-color: #58B000;

		a{	
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%,-50%);
			font-size: 1.6rem;
			text-align: center;
			color: white;
		}

		.fonticon-cnode{
			font-size: 0.8rem;
		}
	}
}

.data-null{
	margin:20px auto;
	font-size: 1.4rem;
	color: #3ac139;
}

/**indexlist 网站首页**/
.index{
	position: absolute;
	display: flex;
	flex-direction: column;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.topic-menu{
	flex:1;
	position: relative;
	display: flex;
	justify-content: center;

	li{
		flex:1;
		position: relative;
		flex-direction: column;
		background-color: #58B000;

		a{	
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%,-50%);
			font-size: 1.6rem;
			text-align: center;
			color: white;
		}
	}

	.tab-on{
		background-color: #fff;
		a{
			color:#58B000;
		}
	}
}

.react-iscroll{
	display: flex;
	flex:8;
	width: 100%;

	.iscroll{
		flex:1;
	}
}

.index-list{
	background-color: #fff;
	padding: 5px;

	.index-item{
		display: flex;
		clear: both;
		border-bottom: 2px solid #58B000;

		.index-item-left{
			flex:2;
			float: left;

			.index-item-author-head{
				display: block;
				margin:0 auto;
				padding: 10px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}

			.index-item-loginname{
				display: block;
				text-align: center;
				margin-bottom: 15px;
				font-size: 0.5rem;
				font-weight: bold;
				color:#19541b;
			}
		}

		.index-item-right{
			flex:8;
			position: relative;
			margin: 5px;
			font-size: 0.6rem;
			float: left;
			color: #04230a;

			.index-item-title-place{
				display: block;
				margin-top: 10px;
				font-size: 1.2rem;
				font-weight: bold;
				color: #2b352d;

				.index-item-good,.index-item-top{
					color:#19541b;
				}
			}

			.index-item-time{
				display: block;
				margin:5px;
				text-align: right;
			}

			.index-item-count{
				display: block;
				margin:5px;
				text-align: right;
			}
		}
	}
}

/**文章详情页面**/
.topic-detail-page{
	position: absolute;
	flex-direction: column;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.topic-header{
	margin:5px;
	background-color: #fff;
	border-bottom: 1px solid #58B000;
	overflow: hidden;

	.topic-header-title{
		font-size: 1.2rem;
	}

	.topic-header-list{
		font-size: 0.6rem;

		li{
			float:left;
			margin-right: 10px;
		}
	}

	.topic-collect{
		cursor: pointer;
		float:left;
		margin-left: 10px;
		font-size: 1.4rem;
		font-weight:blod;
		transform:translate(0px,-5px);
		cursor: pointer;
	}

	.topic-is-collect{
		color: #d86393;
	}

	.topic-not-collect{
		color: #a8a7a7;
	}
}

.topic-content{
	margin-top: 10px;
	padding: 5px;
	background-color: #fff;
}

.reply{
	margin-top: 15px;
	background-color:#fff;
	
	.reply-title{
		padding: 10px;
		color: #3ac139;
		font-size: 1.2rem;
		border-bottom: 1px solid #58B000;
	}

	.reply-item{
		padding: 5px 10px;
		border-bottom: 1px solid #58B000;
		font-size: 0.8rem;
	}

	.reply-top{
		overflow: hidden;

		.reply-author-head{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			float: left;
		}

		.reply-author-loginname{
			margin: 10px;
			float: left;
		}
	}

	.reply-content{
		padding: 5px;
	}

	.reply-bottom{
		display: block;
		padding-bottom: 10px;
		padding-left: 70%;

		.reply-up{
			padding: 10px;
			font-size: 1.4rem;
			color:gray;
			cursor: pointer;
		}

		.reply-style-up{
			color: #d86393;
		}

		.reply-style-down{
			color: #a8a7a7;
		}

		.reply-area-control{
			padding: 10px;
			font-size: 1.4rem;
			color: #80de69;
			cursor: pointer;
		}
	}

	.reply-area{
		position: relative;
		margin:0 auto;
		width: 300px;
		height: 105px;
	}

	.reply-area-content{
		width: 280px;
		height: 60px;
		font-size: 1.2rem;
	}

	.reply-area-btn{
		position: absolute;
		bottom: 0px;
		right: 0px;
		margin:10px;
		width: 40px;
		height: 25px;
		border-radius: 5px;
		font-size: 1.0rem;
		color: #fff;
		text-weight:bold;
		border:0px;
		background-color: #4bd041;
	}
}

/**文章新建页面**/
.topic-new-page{
	position: absolute;
	flex-direction: column;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;

	.topic-new{
		font-size: 1.2rem;
		padding: 10px;

		*{	
			width: 100%;
			height: 40px;
			margin-top: 10px;
			vertical-align: middle;
			font-size: 1.0rem;
		}

		.topic-new-label{
			color: #3ac139;
		}

		.topic-new-content{
			font-size: 1.2rem;
			height: 160px;
		}

		.topic-new-button{
			width: 120px;
			height: 45px;
			border-radius: 10px;
			background-color:#69d630;
			color: #fff;
			border:0px;
			font-size: 1.2rem;
		}
	}
}

/**用户信息页面**/

.userview-title{
	color: #3ac139;
	padding: 10px 0 5px 10px;
	font-size: 1.2rem;
	border-bottom: 1px solid #58B000;
}

.userview-item{
	margin:10px;
	font-size: 1.0rem;
	text-decoration: underline;
	cursor: pointer;
}

.user-msg{
	background-color: #fff;
	overflow: hidden;

	.user-msg-head{
		width: 75px;
		height: 75px;
		float: left;
		margin:10px;
		border-radius: 50%;
	}

	.user-msg-right{
		color: #2a97a3;
		float: left;
		font-weight: bold;

		.user-msg-loginname{
			padding: 15px 5px 0 5px;
		}

		.user-msg-score{
			display: block;
			padding: 5px;
		}
	}

	.user-msg-signout{
		float: right;
		padding: 20px 15px 0 10px;
		font-size: 2.0rem;
		color: #d86393;
		cursor: pointer;
	}
}

.user-topics{
	background-color: #fff;
	overflow: hidden;
}

.user-replies{
	background-color: #fff;
	overflow: hidden;
}

.user-collections{
	background-color: #fff;
	overflow: hidden;

	.user-collections-item{
		margin:10px;
	}
}

/**用户消息页面**/
.messages{
	background-color: #fff;
	overflow: hidden;

	.msg-not-read-title,.msg-read-title{
		color: #3ac139;
		padding: 10px 0 5px 10px;
		font-size: 1.2rem;
		border-bottom: 1px solid #58B000;
	}

	.msg-not-read-item,.msg-read-item{
		margin:10px;

		a{
			color: #37692f;
			text-decoration: underline;
		}
	}
}

/**登录页面**/
.tip-msg-signIn{
	margin-top: 40px;
	font-size: 1.2rem;
	color:#3ac139;
	text-align: center;
}

.signIn-input{
	display: block;
	margin: 15px auto;
	width: 250px;
	height: 60px;
	border-radius: 10px;
	font-size: 1.2rem;
}

.signIn-btn{
	display: block;
	margin: 0 auto;
	width: 70px;
	height: 40px;
	border:0px;
	border-radius: 10px;
	font-size: 1.2rem;
	color: #fff;
	text-weight:bold;
	background-color: #4bd041;
}


/**退出页面**/
.signout-msg{
	margin-top: 40px;
	font-size: 1.2rem;
	color:#3ac139;
	text-align: center;
}

.signout-btn{
	margin: 15px auto;
	width: 200px;
	height: 70px;
}

.signout-yes,.signout-no{
	margin: 15px;
	width: 70px;
	height: 40px;
	border-radius: 10px;
	font-size: 1.2rem;
	color: #fff;
	text-weight:bold;
	border:0px;
}

.signout-yes{
	background-color: #4bd041;
}

.signout-no{
	background-color: #c85dd0;
}